@CHARSET "UTF-8";

body{
	margin:1em;
}

td{
	vertical-align: middle !important;
	text-align: center;	
}

#left_params{
	float:left;
	position:relative;
	width:33.3%;
	height:100px;
	padding:5px;
}

#left_params_ota{
	float:left;
	position:relative;
	width:50%;
	height:100px;
}

#left_params_lang{
	float:left;
	position:relative;
	width:50%;
	height:100px;
	padding-left:5px;
}

#center_params{
	float:left;
	position:relative;
	width:33.3%;
	height:100px;
	padding:5px;
}

#right_params{
	float:left;
	position:relative;
	width:33.3%;
	height:100px;
	padding:5px;
}

#sub_left_params{
	float:left;
	position:relative;
	height:100px;
	width:50%;
	padding:5px;
	
}

#sub_right_params{
	float:left;
	position:relative;
	height:100px;
	width:50%;
	padding:5px;
	padding-right:0px;
}

#filters{
	float:left;
	position:relative;
	width:100%;
	padding:5px;
	margin-bottom:20px;
}

#results{
	float:left;
	position:relative;
	width:100%;
	padding:5px;
}

#section1{
	float:left;
	position:relative;
	width:100%;
	display:block;
}

#section2{
	float:left;
	position:relative;
	width:100%;
}

#section1_left{
	float:left;
	position:relative;
	width:30%;
	padding:5px;
}

#section1_right{
	float:left;
	position:relative;
	width:70%;
	padding:5px;
}

.panel-heading-left{
	position:relative;
	float:left;
}

.panel-heading-right{
	position:relative;
	float:right;
}

#modalbodydata{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}

#modalbodyname{
	position:relative;
	float:left;
	width:50%;
	height:auto;
	margin:2px;
}

#modalbodycustomer{
	position:relative;
	float:left;
	width:30%;
	height:auto;
	margin:2px;
}

#modalbodycurrency{
	position:relative;
	float:left;
	width:17%;
	height:auto;
	margin-left:2px;
	margin-top:2px;
	margin-right:2px;
}

/* ROC */

.table-custom{
	width: 80%;
	margin: auto;
	margin-top: 50px;
}

.last-tr{
	border: 1px solid #FFFFFF !important;
}

.table-custom-name{
	text-align: left;
	width: 40%;
}

.table-custom-lang{
	width: 60px;
}

.table-custom-room{
	text-align: left;
	width: 30%;
}

.table-custom-alarm{
	width: 200px;
	text-align: left;
}

th.table-custom-acciones{
	text-align: center;
}

.table-edit{
	margin-top: 50px;
}

.table-edit td{
	vertical-align: top !important;
	height: 40px;
	text-align: left;
}

.table-edit th{
	vertical-align: top;
	width: 200px;
}

td.td-edit-unique{
	height: 70px;
    vertical-align: middle !important;
}

#button_send{
	background-color: #9d2236;
	color: #FFFFFF;
	padding: 0.55em;
    width: 30%;
    text-align: center;
    border-radius: 5px;
}

.idioma{
	width: 50% !important;
}

.edit-success{
	color: green;
	font-style: italic;
}

#list_delete{
	color: #337ab7;
}

#list_delete:hover {
    text-decoration: underline;
    cursor: pointer;
}

#list_button_new{
	background-color:  #9d2236;
	color: #FFFFFF;
	padding: 0.55em;
    width: 20%;
    text-align: center;
    border-radius: 5px;
    float: right;
}

#button_settear_alarma{
	background-color:  #9d2236;
	color: #FFFFFF;
	padding: 0.55em;
    width: 30%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

.table-new{
	margin-top: 50px;
}

.table-new td{
	vertical-align: top !important;
	height: 40px;
	text-align: left;
}

.table-new th{
	vertical-align: top;
	width: 200px;
}

td.td-new-unique{
	height: 70px;
    vertical-align: middle !important;
}

.table-new-extra{
	display: none;
}

.edit-error-message{
	display: none;
}

